

@{
    Layout = null;
}
<h2>Add New Project</h2>
<script src="~/Scripts/jquery.min.js"></script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Instance Create</title>
</head>
<body>
    <input type="hidden" id="proj_id" />
    <label class="control-label col-md-4 required">Project Name</label>
    <input type="text" class="form-control" id="txtProjectName" />
    <span id="lblProjecteName">&nbsp;</span>
    <br />
    <br />
    <label class="control-label col-md-4 required">Customer</label>
    <select class="form-control" id="drpCustomer">
        <option value="0">Select Customer</option>
        @foreach (var item in ViewBag.Customer)
        {
            <option value="@item.Customer_ID">@item.Company_Name</option>
        }
    </select>
    <span id="lblCustomer">&nbsp;</span>
    <br />
    <br />
    <label class="control-label col-md-4 required">Project Manager</label>
    <select class="form-control" id="drpProjectManager">
        <option value="0">Select Project Manager</option>
        @foreach (var item in ViewBag.ProjectManager)
        {
            <option value="@item.UserId">@item.Name</option>
        }
    </select>
    <span id="lblProjectManager">&nbsp;</span>
    <br />
    <br />
    <label class="control-label col-md-4 required">Scenario</label>
    <select class="form-control" id="drpScenario">
        <option value="0">Select Scenario </option>
        @foreach (var item in ViewBag.Scenario)
        {
            <option value="@item.ScenarioId">@item.ScenarioName</option>
        }
    </select>
    <span id="lblScenario">&nbsp;</span>
    <br />
    <br />
    <label class="control-label col-md-4 required">Description</label>
    <input type="text" class="form-control" id="txtDescription" maxlength="300" />
    <br />
    <br />
    <button id="btnProjectCreate" type="submit">Create</button>
    <button id="btnProjectUpdate" type="submit" style="display:none">Update</button>
    <button onclick="location.href = '@Url.Action("Index", "Project")';">Cancel</button>
    <span id="lblCommon">&nbsp;</span>
</body>
</html>
<script type="text/javascript">    

    $("body").on("click","#btnProjectCreate", function () {
        var projectName = $("#txtProjectName").val().trim();
        var Customer_id = $("#drpCustomer").val();
        var ProjectManager_id = $("#drpProjectManager").val();
        var Scenario_id = $("#drpScenario").val();
        var Description = $("#txtDescription").val();
        var prjName = cusid = prmnrid = sceid = false;

        if (projectName == "") {
            prjName = true;
            $("#lblProjecteName").html("Please Enter the project Name").show();
        }
        else {
             $("#lblProjecteName").html("").show();
        }

        if (Customer_id == 0) {
            cusid = true;       
             $("#lblCustomer").html("Please Select the Customer").show();
        }
        else {
            $("#lblCustomer").html("").show();
        }

        if (ProjectManager_id == 0) {
            prmnrid = true;
            $("#lblProjectManager").html("Please Select the Project Manager").show();
        }
        else {
            $("#lblProjectManager").html("").show();
        }

        if (Scenario_id == 0) {
            sceid = true;
            $("#lblScenario").html("Please Select the Scenario").show();
        }
        else {
            $("#lblScenario").html("").show();
        }

        if (prjName == false && cusid == false && prmnrid == false && sceid == false) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("Create","Project")',
                data: {
                    project_Name: projectName,
                    Customer_Id: Customer_id,
                    Description: Description,
                    ProjectManager_Id: ProjectManager_id,
                    ScenarioId: Scenario_id
                },
                success: function (response) {
                    if (response == "success") {
                        $("#txtProjectName").val("");
                        $("#drpCustomer").val(0);
                        $("#drpProjectManager").val(0);
                        $("#drpScenario").val(0);
                        $("#txtDescription").val("");
                    }
                    else {
                        $("#lblProjecteName").html("This Project Name is already in use").show();
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
        else {
            $("#lblCommon").html("Please Enter all the details").show();
        }
    })

</script>