@model PROACCII_DB.Customer


<link href="~/Content/Customer.css" rel="stylesheet" />

<input type="hidden" id="customerid" value="@Model.Customer_ID" />
<input type="hidden" id="pcre_on" value="@Model.Cre_on" />
<input type="hidden" id="pcre_By" value="@Model.Cre_By" />

<div class="modal">
    <div class="title">
        <h3 class="h2">Edit User</h3>
        <img src="~/Asset/Images/pngegg.png" alt="No Image" width="20" height="20" id="crossimg" />
    </div>
    <div class="col-6">
        <div class="form-group">
            <label class="control-label">Customer Name</label>
            <input type="text" class="form-control" id="txtCompanyName" value="@Model.Company_Name" readonly />
            <div class="_span">
                &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblCompanyName">&nbsp;</span>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label class="control-label">Industry Sector</label>
            <select class="form-control" id="drpIndustrySector">
                <option value="0">Select Industry</option>
                @foreach (var item in ViewBag.IndustrySector)
                {
                    if (item.IndustrySector_ID == Model.IndustrySector_ID)
                    {
                        <option value="@item.IndustrySector_ID" selected>@item.Industry_Sector</option>
                    }
                    else
                    {
                        <option value="@item.IndustrySector_ID">@item.Industry_Sector</option>
                    }

                }
            </select>
            <div class="_span">
                &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblIndustrySector">&nbsp;</span>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label class="control-label">Contact Person Name</label>
            <input type="text" class="form-control" id="txtContact" value="@Model.Contact">
            <div class="_span">
                &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblContact">&nbsp;</span>
            </div>
        </div>
    </div>

    <div class="col-6">

        <div class="form-group">
            <label class="control-label">Contact Person Email</label>
            <input type="text" class="form-control" id="txtCustomerEmail" value="@Model.Email">
            <div class="_span">
                &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblCustomerEmail" >&nbsp;</span>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label class="control-label">Contact Person Phone</label>
            <input type="text" class="form-control" id="txtCustomerPhone" maxlength="10" value="@Model.Phone">
            <div class="_span">
                &nbsp;&nbsp;&nbsp;<span id="error-msg" class="hide Class_span">&nbsp;</span>
            </div>
        </div>
    </div>
    <hr />
    <div class="ui-dialog-buttonset">
        <button type="button" class="ui-button ui-corner-all ui-widget btn-hover" id="btnCustomerUpdate">Edit User</button>
        <button type="button" class="ui-button ui-corner-all ui-widget btn-hover" id="closedialog">Cancel</button>
    </div>
</div>
@Html.Hidden("RedirectToCustomerList", Url.Action("Home", "Home"))

<script>
    $(document).ready(function () {
        $("#txtCompanyName").keypress(function (event) {
            var inputValue = event.which;
            // allow letters and whitespaces only.
            if (!(inputValue >= 65 && inputValue <= 122) && (inputValue != 32 && inputValue != 0)) {
                event.preventDefault();
            }
        });

        $("#txtIndustrySector").keypress(function (event) {
            var inputValue = event.which;
            // allow letters and whitespaces only.
            if (!(inputValue >= 65 && inputValue <= 122) && (inputValue != 32 && inputValue != 0)) {
                event.preventDefault();
            }
        });

        $("#txtContact").keypress(function (event) {
            var inputValue = event.which;
            if (!(inputValue >= 65 && inputValue <= 122) && (inputValue != 32 && inputValue != 0)) {
                event.preventDefault();
            }
        });

        $("#txtCustomerPhone").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                event.preventDefault();
            }
        });


 
        function TaskEmailCheck() {
            var str = $("#txtCustomerEmail").val().trim();
            var filter = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;

            if (!filter.test(str)) {
                return false
            }
        }

        function ValidateName(data) {
            var letters = /^[A-Za-z._, ]+$/;
            if (!letters.test(data)) {
                return false;
            }
        }

        $("#btnCustomerUpdate").on("click", function () {
            var Customer_Id = $("#customerid").val();
            var CompanyName = $("#txtCompanyName").val().trim();
            CompanyName = CompanyName.replace(/,/g, " ");
            var IndustrySector = $("#drpIndustrySector").val();
            var Contact = $("#txtContact").val().trim();
            Contact = Contact.replace(/,/g, " ");
            //var custphone = $("#txtCustomerPhone").val().trim();
            var SelectedCountrycode = $("#selectedCountry").val();
            var custphone = $("#txtCustomerPhone").val();
            var custEmail = $("#txtCustomerEmail").val();

            if (CompanyName == "" || ValidateName(CompanyName) == false) {
                $("#lblCompanyName").html("Please enter the Customer Name").show().fadeOut(5000);
            }

            else if (IndustrySector == 0) {
                $("#lblIndustrySector").html("Please enter the Industry Sector").show().fadeOut(5000);
            }
            else if (Contact == "" || ValidateName(Contact) == false) {
                $("#lblContact").html("Please enter the Contact Person").show().fadeOut(5000);
            }
            else if (custEmail == "") {
                $("#lblCustomerEmail").html("Please enter the Customer Email").show().fadeOut(5000);
            }
            else if (TaskEmailCheck() == false) {
                $("#lblCustomerEmail").html("Email-Id is wrong re-enter emailid").show().fadeOut(5000);
            }
            else if (custphone == "") {
                // $("#lblCustomerPhone").html("Please enter the Customer Phone").show();
                $("#error-msg").html("Please enter a valid mobile number").show().fadeOut(5000);
            }

            else {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Edit","Home")',
                    data: { Customer_ID: Customer_Id,Company_Name: CompanyName, IndustrySector_ID: IndustrySector, Phone: custphone, Email: custEmail, Contact: Contact, Countrycode: SelectedCountrycode },
                    success: function (response) {
                        if (response == "success") {
                            //setTimeout(Redirect, 500);
                            location.href = $("#RedirectToCustomerList").val();
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
        });


        $("#closedialog,#crossimg").click(function () {
            $("#EditCustomer").dialog("close");
        });
    });
</script>
